.search-container {
  display: flex;
  flex-direction: column; /* Added to align items vertically */
  justify-content: center;
  align-items: center;
  padding: 20px;
 
}

.search-form {
  border: 2px solid rgb(135, 135, 135);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Changed to stack elements vertically */
  padding: 6px;
  width: 60%; /* Adjusted width */
}

.search-input {
  flex: 1; /* Make inputs take up full width */
  font-family: "Montserrat";
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none; /* Added to remove focus outline */
}

.autocomplete-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Match width of the input */
  position: absolute; /* Positioning relative to form */
  z-index: 2; /* Ensures dropdown is on top of other elements */
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Added for subtle shadow */
}

.suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.suggestion-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.suggestion-item:hover {
  background-color: #f8f8f8;
}

.breadcrumb-container {
  display: flex;
  flex-wrap: wrap; /* Allows multiple items to wrap in container */
  gap: 10px; /* Space between breadcrumbs */
  margin-top: 10px; /* Space below the form */
}

.breadcrumb {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.remove-breadcrumb {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .search-form {
    width: 100%; /* Full width on smaller screens */
  }


  .search-input, .search-button {
    width: 100%; /* Full width for inputs and button on mobile */
    margin-bottom: 10px; /* Add space between elements */
  }

  .searchbtns{
    display: grid;
    grid-template-columns: 80% 1fr !important;
  }
}


.searchbtns{
  display: grid;
  grid-template-columns: 90% 1fr;
}

.clear-button{
  color: black;
  background-color: white;
}

.search-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
