<!doctype html>
<html lang="en">

<head>
	<title>Think Career</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet">
	<style>
		.job {
			margin: auto;
			padding: 0rem 7rem;
			display: grid;
			grid-template-columns: 47% auto;
			gap: 1rem;
			background-color: #f7f7f7;
		}

		.job-card {
			border: 1px solid #000000;
			/* subtle line to separate job cards */
			padding: 16px;
			text-align: left;
			/* Align text to the left */
		}

		.job-card h1 {
			font-size: 2rem;
			/* Adjust font size as needed */
			color: #333;
			/* Darker text for better readability */
			margin-bottom: 5px;
			font-weight: bold;
		}

		.job-card h2 {
			font-size: 1rem;
			color: #666;
			margin-bottom: 10px;
		}

		.job-card p {
			font-size: 14px;
			color: #333;
			margin-bottom: 15px;
		}

		/* Responsive adjustments for smaller screens */
		@media screen and (max-width: 768px) {
			.job-card {
				padding: 12px;
				/* Smaller padding for small screens */
			}
		}

		button {
			font-family: "Raleway";
		}
	</style>




<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><img height="70px" width="70px" src="./images/icon.png" alt=""></h2>
				</div>
			</div>
		</div>

		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">Think Career</a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="  order-lg-last">
								<div style="display: flex; align-items: center; gap: 1rem;align-items: center;">
									<div class="form-group" style="margin-right: 10px;">
										<input type="text" class="form-control" placeholder="Search Jobs">
									</div>
									<div class="form-group" style="margin-right: 10px;">
										<select class="form-control" name="region" id="region">
											<option value="">Select Region</option>
											<option value="Eastern Cape">Eastern Cape</option>
											<option value="Free State">Free State</option>
											<option value="Gauteng">Gauteng</option>
											<option value="KwaZulu-Natal">KwaZulu-Natal</option>
											<option value="Limpopo">Limpopo</option>
											<option value="Mpumalanga">Mpumalanga</option>
											<option value="North West">North West</option>
											<option value="Northern Cape">Northern Cape</option>
											<option value="Western Cape">Western Cape</option>
										</select>
									</div>

									<button type="submit" class="btn btn-primary">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav m-auto">
						<li class="nav-item active"><a href="Home.html" class="nav-link">Home</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">About Us </a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="#">Page 1</a>
								<a class="dropdown-item" href="#">Page 2</a>
								<a class="dropdown-item" href="#">Page 3</a>
								<a class="dropdown-item" href="#">Page 4</a>
							</div>
						</li>
						<li class="nav-item"><a href="Jobs.html" class="nav-link">Jobs</a></li>
						<li class="nav-item"><a href="News.html" class="nav-link">News</a></li>
						<li class="nav-item"><a href="Profile.html" class="nav-link">My Profile</a></li>
						<li class="nav-item"><a href="SignIn.html" class="nav-link">Logout</a></li>
				
					</ul>
				</div>
			</div>
		</nav>
		<!-- END nav -->
	</section>

	<!-- body -->
	<section class="job" style="margin-bottom: 2rem;padding: 3rem;">

		<div style="display: flex;flex-direction: column;gap: 1rem;">

			<!-- jOBS -->
			<div class="job-card">
				<h1>Job Title</h1>
				<h2>Company Name</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nam laborum...</p>
				<button class="btnJob">View</button>
			</div>


			<!-- jOBS -->
			<div class="job-card">
				<h1>Job Title</h1>
				<h2>Company Name</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nam laborum...</p>
				<button class="btnJob">View</button>
			</div>

			<!-- jOBS -->
			<div class="job-card">
				<h1>Job Title</h1>
				<h2>Company Name</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nam laborum...</p>
				<button class="btnJob">View</button>
			</div>


		</div>


		<!-- jOB dESCRIPTION -->
		<div style="background-color: white;padding-left: 2rem;border:1px solid black ;">
			<h1 style="padding-top: 3rem;font-weight: bold;">Title</h1>
			<h2 style="font-size: 1.5rem;">Company</h2>
					<h4 style="font-size: 1rem;">location</h4>
<hr style="width:100% ;">
			<div style="padding-top: 3rem;">
<div style="margin-bottom: 2rem;">

	<button class="btnJob">Apply Now</button>

</div>

<div>
	<h5 style="font-size: 0.8rem;">Description</h5>
</div>

			</div>
		</div>
		<!-- Repeat for as many job cards as you have -->
	</section>



</body>

</html>