.job {
  padding: 3rem;
}

.job-listings {
  position: sticky;
  top: 0;
  height: calc(100vh - 20px); /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  gap: 1rem;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.job-listings::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.job-card {
  padding: 16px;
  background-color: #fff; /* White card background */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Indicate clickable element */
  margin-bottom: 1rem;
}

.job-card:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.job-description-container {
  padding-left: 20px;
}

.job-description {
  background-color: #fff; /* White background */
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 4px; /* Rounded corners */
}

.job-card h1 {
  font-size: 27px;
  font-weight: bold;
}

.job-card h2 {
  font-size: 15px;
  font-weight: bold;
}

.job-card p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .job {
    padding: 0.3rem;
  }

  .search-form{
    width: 100%;

    border-radius: 10px;
    border: 2px solid rgb(40, 40, 40);
  }

  .job-description-container {display: none;}


  .job-card,
  .job-description {
    width: 100%; /* Full width on mobile */
  }

  .job-description-container {
    padding-top: 20px; /* Add space between listings and description */
    padding-left: 0;
    position: fixed; /* Make description card fixed on mobile */
    bottom: 10rem; /* Initial offset from the bottom */
    left: 0;
    right: 0;
    background-color: #212529; /* Dark background color */
    color: #fff; /* Light text color for better contrast */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    border-radius: 4px; /* Rounded corners */
    transition: transform 0.3s ease-out, bottom 0.3s ease-out;
  }

  .job-description-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .job-description-header img {
    width: 50px; /* Adjust logo size as needed */
  }
}

.fade-in {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.skills-breadcrumbs {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-breadcrumbs li {
  background-color: #eee;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #212529; /* Dark text color for skills on dark background */
}




.job-card {
  padding: 16px;
  background-color: #fff; /* White card background */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Indicate clickable element */
  margin-bottom: 1rem;
  border: 1px solid #ddd; /* Grey border around the card */
}

.job-description-header {
  display: flex;
  justify-content: space-between; /* Distribute items horizontally */
  align-items: center;
  margin-bottom: 1rem;
}

.job-description-header img {
  width: 50px; /* Adjust for desired width */
  max-width: 50px; /* Ensures width doesn't exceed 50px */
  max-height: 50px; /* Ensures height doesn't exceed 50px */
  border-radius: 100%; /* Circular image */
  margin-right: 1rem; /* Add space between image and text */
}

.job-card h1,
.job-card h2 {
  margin: 0; /* Remove default margins from headings for better spacing */
}

